@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
}

main {
  margin: 2vw auto 10vw;
  min-height: 50vw;
  width: 96vw;
  border-radius: 15px;
  padding: 1vw 2vw;
  background: linear-gradient(100deg, rgba(255, 241, 244, 0.459), rgba(255, 224, 214, 0.338));
}

a {
  color: rgb(44, 43, 46);
  font-family: 'Fredericka the Great', cursive;
}

h1,
h2,
h3 {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

h1 {
  margin: 6rem auto;
  padding-bottom: 3rem;
  font-size: 4rem;
  border-bottom: 1px dashed rgb(193, 154, 191);
}

ul {
  margin-left: -40px;
}

li {
  list-style: none;
}
